<ion-header>
  <ion-toolbar color="dark" class="ion-padding">
    <ion-title class="ion-text-center">PRUEBA UNO</ion-title>
      <ion-buttons [routerLink]="['/home']" slot="start">
      <ion-back-button default-href="#">Atras</ion-back-button>
      </ion-buttons>


  </ion-toolbar>
</ion-header>
<ion-content  color="dark" class="ion-padding" class="ion-text-center">
  <h1>Recuperar tu contraseña</h1>
  <p>Rellena los campos para solicitar tu nueva contraseña</p>
  <ion-item color="dark" class="ion-padding">
    <ion-label position="stacked">Correo</ion-label>
    <ion-input type="email" [clearOnEdit]="true" placeholder="Ingresa tu email"></ion-input>
  </ion-item>
  <ion-item color="dark" class="ion-padding">
    <ion-label  position="stacked">Usuario</ion-label>
    <ion-input maxlength=8 minlength=3 [clearOnEdit]="true" placeholder="Ingresa tu nick"></ion-input>
  </ion-item>
  <ion-button color="dark" class="ion-padding"(click)="presentAlert()">Solicitar</ion-button>
</ion-content>
