<ion-header>
  <ion-toolbar color="dark" class="ion-padding">
    <ion-title class="ion-text-center">PRUEBA UNO</ion-title>
      <ion-buttons [routerLink]="['/catalogo']" slot="start">
      <ion-back-button default-href="#">Atras</ion-back-button>
      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  <ion-card color="dark" class="ion-padding">
    <img alt="" src="{{ imagen }}" />
    <ion-card-header>
      <ion-card-title>{{ titulo }}</ion-card-title>
      <ion-card-subtitle>{{ precio }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ descripcion }}
    </ion-card-content>
  </ion-card>
</ion-content>
